/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Ignorar archivos dentro de estas carpetas, pero mantener la carpeta en sí
impresionys/storage/ama/impresion/*
!impresionys/storage/ama/impresion/.gitignore

impresionys/storage/chetapyi/impresion/*
!impresionys/storage/chetapyi/impresion/.gitignore

impresionys/storage/fonavis/impresion/*
!impresionys/storage/fonavis/impresion/.gitignore

impresionys/storage/sanfrancisco/impresion/*
!impresionys/storage/sanfrancisco/impresion/.gitignore

impresionys/storage/sembrando/impresion/*
!impresionys/storage/sembrando/impresion/.gitignore

impresionys/storage/vyarenda/impresion/*
!impresionys/storage/vyarenda/impresion/.gitignore
